<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aram.smartstore.mapper.CategoryMapper">

  <insert id="insert" parameterType="CategoryEntity" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO category (parent_id, store_id, name, level, use_yn, creator_id, modifier_id,
                          created_at, modified_at)
    VALUES (#{parentId}, #{storeId}, #{name}, #{level}, #{useYn}, #{creatorId}, #{modifierId},
            NOW(), NOW())
  </insert>

  <select id="findById" resultType="CategoryEntity">
    SELECT *
    FROM category
    WHERE id = #{id}
  </select>

  <select id="findChildCategoriesById" resultType="CategoryEntity">
    SELECT *
    FROM category
    WHERE parent_id = #{id}
      AND use_yn = 'Y'
  </select>

  <update id="update" parameterType="CategoryEntity">
    UPDATE category
    SET parent_id   = #{parentId},
        store_id    = #{storeId},
        name        = #{name},
        level       = #{level},
        use_yn      = #{useYn},
        creator_id  = #{creatorId},
        modifier_id = #{modifierId},
        created_at  = #{createdAt},
        modified_at = NOW()
    WHERE id = #{id}
  </update>

  <select id="findProductsByCategories" parameterType="List" resultType="ProductEntity">
    SELECT *
    FROM product
    WHERE category_id IN
    <foreach collection="list" item="item" open="(" close=")" separator=",">
      #{item}
    </foreach>
  </select>

</mapper>
