<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aram.smartstore.store.mapper.StoreMapper">

  <insert id="insert" parameterType="Store" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO store (name, description, state, creator_id, modifier_id, created_at, modified_at)
    VALUES (#{name}, #{description}, #{state}, #{creatorId}, #{modifierId}, NOW(), NOW())
  </insert>

  <insert id="insertHistory" parameterType="Store" useGeneratedKeys="true">
    INSERT INTO store_history (store_id, name, description, state, creator_id, created_at)
    VALUES (#{id}, #{name}, #{description}, #{state}, #{creatorId}, NOW())
  </insert>

  <select id="findById" resultType="Store">
    SELECT *
    FROM store
    WHERE id = #{id}
  </select>

</mapper>
